@import url("./css/normalize.css");
@import url("./css/helpers.css");

@font-face {
  font-family: 'Brandon Grotesque Regular';
  font-weight: 400;
  src: url('./assets/fonts/Brandon_reg.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Grotesque Bold';
  font-weight: 700;
  src: url('./assets/fonts/Brandon_bld.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Grotesque Black';
  font-weight: 800;
  src: url('./assets/fonts/Brandon_blk.otf') format('opentype');
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Brandon Grotesque Black', Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}