@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin gradient($color1, $color2, $rotation) {
  background: $color1;
  background: linear-gradient(#{$rotation}deg, $color1 0%, $color2 100%);
}