// COLORS
$color-light: #c9c9c9;
$color-dark: #575757;
$color-lilac: #b49fd4;
$color-violet: #62649c;
$color-cyan: #dfd68b;
$color-green: #a18843;

// BUTTONS
$size-mainAddButton: 50px;
$size-addButton: 40px;
$size-removeButton: 25px;

// SHADOWS
$shadow-size: 0 2px 6px;
$shadow-cell: $shadow-size $color-light;
$shadow-button: $shadow-size $color-light;
$shadow-hoverSubmit: $shadow-size rgba($color: $color-cyan, $alpha: 0.4);

// LAYOUT
$padding-container: 60px;
$offset-cellAddButton: 35px;
$offset-cell: 80px;
$offset-cell-small: 25px;
$padding-cell-main: 20px;
$padding-cell-child: 10px;
$width-rootCellHeading: 240px;
$size-popupButton: 30px;

$corner-radius: 5px;
$corner-radius-small: 3px;

$time-hover: 0.2s;
$fade-bezier: cubic-bezier(.04,.88,.62,1.17);