@import './mixins';
@import './variables';

.Cell {
  align-items: center;
  animation: cellFadeIn 0.3s $fade-bezier;
  color: $color-dark;
  display: flex;
  justify-content: space-between;
  position: relative;
  min-width: 150px;
  word-break: break-all;

  &::before {
    background-color: $color-light;
    content: '';
    height: 1px;
    position: absolute;
    top: 50%;
  }

  &::after {
    color: $color-light;
    font-size: 1.2em;
    line-height: 1;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
  }

  &--main {
    @include gradient ($color-violet, $color-lilac, 0);
    background-size: 10px;
    background-repeat: no-repeat;
    border-radius: $corner-radius;
    box-shadow: $shadow-cell;
    margin: 1rem 0;
    margin-left: $width-rootCellHeading / 2 + $offset-cell;
    min-width: 300px;
    padding: $padding-cell-main;
    padding-left: 2em;
    width: calc(100% - #{$width-rootCellHeading / 2 + $offset-cell});

    &::before {
      left: $offset-cell * -1;
      width: $offset-cell;
    }
  
    &::after {
      content: 'And';
      left: $offset-cell * -1 - 50px;
    }

  }

  &--child {
    background-color: #fff;
    border: 1px solid $color-light;
    border-radius: $corner-radius-small;
    margin: 0.2rem 0;
    margin-left: $offset-cellAddButton + $offset-cell-small;
    padding: $padding-cell-child;
    padding-left: 0.8rem;
    width: calc(100% - #{$offset-cellAddButton + $offset-cell-small});

    &::before {
      left: $offset-cell-small * -1;
      width: $offset-cell-small;
    }
  
    &::after {
      content: 'Or';
      left: $offset-cell-small * -1 - $offset-cellAddButton;
    }
  }

  &__heading {
    font-size: 1.2rem;
    margin: 0;
  }

  @media only screen and (max-width: 720px) {
    
    & {
      background-color: #fff;
      margin-left: 0;
      min-width: 0;
      z-index: 1;
      width: 100%;

      &::before,
      &::after {
        content: none;
      }

      &--main {
        overflow: hidden;

        &::before {
          @include gradient ($color-violet, $color-lilac, 0);
          background-repeat: no-repeat;
          background-size: 10px;
          content: '';
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 0;
        }
      }
    }
  }
}