@import './mixins';
@import './variables';

.Cell {
  align-items: center;
  box-shadow: $shadow-cell;
  border-radius: $corner-radius;
  color: $color-dark;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  overflow: hidden;
  padding: 1.2em;
  padding-left: 2em;
  position: relative;
  width: 100%;

  &::before {
    @include gradient ($color-violet, $color-lilac, 0);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
  }

  &__heading {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
  }
}