@import './mixins';
@import './variables';

.Popup {
  @include flex-center;
  background-color: rgba($color: #000, $alpha: 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &__container {
    background-color: #fff;
  }

  &__heading {
    color: $color-dark;
  }

  &__input {

  }
}