@import './variables';
@import './mixins';
@import './animations';

.Popup {
  @include flex-center;
  animation: popupFadeIn 0.3s forwards;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &__form {
    animation: formFadeIn 0.3s forwards cubic-bezier(.04,.88,.62,1.17);
    background-color: #fff;
    border-radius: $corner-radius;
    box-shadow: 0 0 20px rgba($color: #000, $alpha: 0.3);
    display: grid;
    gap: 0.5rem;
    padding: 3rem;
  }

  &__heading {
    justify-self: center;
    color: $color-dark;
    margin: 0;
  }

  &__input {

  }
}