@import './mixins';
@import './variables';

.Tree {
  align-items: flex-start;
  border-radius: $corner-radius;
  display: flex;
  flex-direction: column;
  max-width: 720px;
  position: relative;
  width: 100%;

  &::before {
    background-color: $color-light;
    content: '';
    position: absolute;
    width: 1px;
  }

  &--main {
    background-color: #fff;
    box-shadow: 0 2px 30px 5px $color-lightLilac;
    padding: $padding-container;

    &::before {
      bottom: $padding-container;
      left: $width-rootCellHeading / 2 + $padding-container;
      top: $padding-container;
    }
  }

  &--child {

    &::before {
      bottom: 0;
      left: $offset-cellAddButton;
      top: 0;
    }
  }

  &__heading {
    @include flex-center;
    margin: 0;
    z-index: 1;

    &--main {
      @include gradient ($color-violet, $color-lilac, 0);
      border-radius: $corner-radius;
      box-shadow: $shadow-cell;
      color: #fff;
      font-family: 'Brandon Grotesque Bold';
      font-size: 1.4rem;
      margin-bottom: 2.5rem;
      padding: 0.8em;
      width: $width-rootCellHeading;
    }

    &--child {
      background-color: #fff;
      border: 1px solid $color-light;
      border-radius: $corner-radius-small;
      color: $color-dark;
      font-size: 1.2rem;
      justify-content: flex-start;
      margin-bottom: 1.2rem;
      min-height: $padding-cell-child * 2 + $size-removeButton;
      padding: $padding-cell-child;
      width: calc(100% - #{$offset-cellAddButton + $offset-cell-small});
      word-break: break-all;
    }
  }
}